name: Validate Terraform

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - 'terraform/**'

jobs:
  validate_terraform:
    name: Validate Terraform (${{ matrix.module }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        module:
          - terraform/modules/iam
          - terraform/modules/network
          - terraform/modules/tf2-server
          - terraform/modules/vault
          - terraform/examples/simple
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Validate ${{ matrix.module }}
        shell: sh
        working-directory: ${{ matrix.module }}
        run: |
          terraform init -backend=false
          terraform fmt -check
          terraform validate

